/*
#####  Palette URL: http://colorschemedesigner.com/#4j11TlRlRw0w0
	Primary Color:
  
   var. 1 = #442E77 = rgb(68,46,119)
   var. 2 = #3D3059 = rgb(61,48,89)
   var. 3 = #220F4D = rgb(34,15,77)
   var. 4 = #7F65BB = rgb(127,101,187)
   var. 5 = #8F7CBB = rgb(143,124,187)
*/

body {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #8F7CBB;
  background: url(/images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

::-webkit-scrollbar {
    display: none;
}

#app-name {
    font-size: 55px;
    font-weight: 100;
    text-shadow: 3px -2px 1px #00092C;
    margin: 10px auto !important;
}
.centered {
	margin: 0 auto;
	display: block !important;
}

.table-repo-hover tr:hover {
     background: rgba(68,46,119, .9);
}

.table-repo-hover tr {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.table-repo-hover thead {
    color: #7F65BB;
    font-weight: bold;
}

input[type=text] {
	background-color: #220F4D;
	color: #FFFFFF;
}

pre {
	margin-top: 10px;
}

.repo-navbar {
    background-color: rgba(34,15,77, .9);
}
.central-box {
    overflow-y: scroll;
	margin: 120px auto 0 auto;
	background-color: rgba(34,15,77, .9);
	padding: 20px 15px 20px 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 10px 2px #3D3059;
	box-shadow: 0px 0px 10px 2px #3D3059;
	height: 480px;
}

.big-message {
    margin: 10px 0;
    text-align: center;
    font-size: 44px;
}
.big-message2x {
    margin: 10px 0;
    text-align: center;
    font-size: 78px;
}
#repo-list {
	list-style: none;
	text-transform: capitalize;
}

.text-center {
    text-align: center;
}

#repo-list li {
	padding: 3px 0;
}

.repo {
    display: none;
    margin: 4px 0 4px 0;
}

.modal-repo {
    padding: 20px;
    min-height: 60px;
}

.table th, .table td {
    border-top: none !important;
}

.with-pointer {
    cursor: pointer;
}
.with-pointer-help {
    cursor: help;
}

.to-right {
    float: right;
}

.to-left {
    float: left;
}

.modal {
    width: 608px;
}

a {
  color: #00B7FF;
}