/*
#####  Palette URL: http://colorschemedesigner.com/#4j11TlRlRw0w0
	Primary Color:
  
   var. 1 = #442E77 = rgb(68,46,119)
   var. 2 = #3D3059 = rgb(61,48,89)
   var. 3 = #220F4D = rgb(34,15,77)
   var. 4 = #7F65BB = rgb(127,101,187)
   var. 5 = #8F7CBB = rgb(143,124,187)
*/

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(/images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

::-webkit-scrollbar {
    display: none;
}

.centered {
	margin: 0 auto;
	display: block !important;
}

input[type=text] {
	background-color: #220F4D;
	color: #FFFFFF;
}

pre {
	margin-top: 10px;
}


.central-box {
	color: #8F7CBB;
	margin: 200px auto;
	background-color: rgba(34,15,77, .9);
	padding: 25px 10px 5px 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 10px 2px #3D3059;
	box-shadow: 0px 0px 10px 2px #3D3059;
	min-height: 250px;
	width: 560px;
}

#repo-list {
	list-style: none;
	text-transform: capitalize;
}

#repo-list li {
	padding: 3px 0;
}

.repo {
    display: none;
}

.get-snippet {
    cursor: pointer;
}

.to-right {
    float: right;
}

.to-left {
    float: left;
}

a {
  color: #00B7FF;
}