<script type="text/javascript">
	$(document).ready(function(){
        $.ajax({
          url: "/private/repos",
          success: function (data, status, jqXHR) {

            var createRepoElement = function(repo){
            	repoLi = document.createElement('li');
            	repoLi.appendChild(document.createTextNode(repo.name));
            	repoLi.style = "display: none;";
              repoLi.class = "repo";
            	$('#repo-list').append(repoLi);
	            setTimeout(function(){
	              $('#' + repo.id).fadeIn('slow');  
	            },1000);
            };

            $.each(data, function(){
            	createRepoElement(this);
            });
          }
        });
      });
</script>
<div class="central-box">
	<ul id="repo-list"></ul>
</div>