<script src="/javascripts/private/repos.js"></script>
<div class="central-box">
    <div class="bubblingG">
        <span id="bubblingG_1">
        </span>
        <span id="bubblingG_2">
        </span>
        <span id="bubblingG_3">
        </span>
    </div>
    <ul></ul>
    <table id="repo-list" class="table table-condensed"></table>
</div>
<div id="modal-repo" class="modal hide fade modal-repo">
    <code id="snippet"></code>
</div>
<div id="modal-counter-create" class="modal hide fade">
    <div class="modal-header text-center">
        <h3>Create counter</h3>
    </div>
    <div class="modal-counter-body">
        <p class="text-center">Do you want create a new counter for this repo?</p>
    </div>
    <div class="modal-footer">
        <a id="modal-counter-submit" href="#" class="btn btn-primary">Yes</a>
        <a id="modal-counter-discard" href="#" class="btn">No</a>
    </div>
</div>